
{{#if answers}}
	<div class="row">
	  <div class="col-md-4">
		<div class="panel question">
		  	<div class="panel-heading">
		  	  <button class="btn btn-info" {{action "low"}}>Low to High</button>
		  	  <button class="buttonSpace btn btn-info" {{action "high"}}>High to Low</button>
		  	</div>
		 </div>
	  </div>
	</div>
{{/if}}
<div class="row">
	{{#each sortLike as |answer|}}
	 <div class="col-md-4">
	  <div class="panel question">
	  	<div class="panel-heading">{{{vote-color answer.like}}}</div>
	  	<div class="panel-body size">{{{answer.answer}}}</div>
	    <div class="panel-footer">
	    	By {{answer.author}} 
	    	<span class="pull-right">
	    		<a href="#" {{action "addLike" answer.like answer 'up'}}>
	    			<i class="fa fa-thumbs-up" aria-hidden="true"></i>
	    		</a>
	    		<span class="numberAnswer">{{answer.like}}</span>
	    		<a href="#" {{action "addLike" answer.like answer 'down'}}>
	    			<i class="fa fa-thumbs-down" aria-hidden="true"></i>
	    		</a>
	    	</span>
	    </div>
	  </div>
	 </div>
	 {{else}}
	 	<div class="col-md-12">
		  <div class="panel question">
		  	<div class="panel-heading"><h2>Answer</h2></div>
		  	<div class="panel-body">There are no answer yet on the quesiton</div>
		    <div class="panel-footer">By Admin</div>
		  </div>
		 </div>
	{{/each}}
</div>