<div class="panel question">
  <div class="panel-heading"><h1>Edit {{model.question}}</h1></div>
  <div class="panel-body">
    <div class="form-group">
      <label for="question">Question</label>
      {{input value=model.question class="form-control" id="question"}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input value=model.author class="form-control" id="author"}}
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      {{tinymce-editor options=options id="moreinfo" class="form-control" value=model.moreinfo}}
    </div>
  </div>
  <div class="panel-footer"><button class="btn btn-success" {{action 'update' model}}>Update</button></div>
</div>