<div class="row blog">
    <div class="col-md-12">
      <h1>{{model.question}}</h1>
      <hr />
      {{{model.moreinfo}}}
      <hr />
      <h5>{{model.author}}</h5>
    </div>
</div>

<div id="answers" class="row">
  <h3>Answers</h3>

  <hr />

  {{#each model.answers as |answer|}}
    {{{answer.answer}}}
    <br />
    {{answer.author}}
  {{/each}}

  {{answer-add save="save" question=model}}

</div>
