<div class="panel question">
  <div class="panel-heading"><h1>{{model.question}}</h1></div>
  <div class="panel-body">
    {{{model.moreinfo}}}
  </div>
  <div class="panel-footer">By {{model.author}}</div>
</div>
<hr />
{{answer-list updateLike="addLike" answers=model.answers}}
<hr />
{{answer-add save="save" question=model}}
